@model IEnumerable<DepremMisafiri.Models.Request>
@{
    ViewData["Title"] = "RequestList";
}

<div class="m-4">
    <div class="bg-success text-white p-4"><b>Request List</b></div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>EqVictimId</th>
                <th>HouseId</th>
                <th>GuestCount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.EqVictimId</td>
                    <td>@item.HouseId</td>
                    <td>@item.GuestCount</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                        <a href="#" class="btn btn-primary btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


