@model DepremMisafiri.Models.Editor
@{
    ViewData["Title"] = "Edit";
}

<div class="m-4">
    <div class="bg-success text-white p-4"><b>Editor Edit</b></div>
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

